body {
  margin: 0;
  padding: 0;
  background: #e1e2e1;
  color: #1e1e1e;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.blockSpace {
  margin: 25px;
}
